@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding-top: 22px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
	font-family: "Epilogue", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
		#root {
			.wrapper {
				width: 100%;
				min-height: 100vh;
			}
		}
		button  {
			font-family: inherit;
		}
}
